# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
*.iml
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
# API keysgit status
lib/services/api_config.dart